.header .search-area .btn-submit::after,
.board-wrap .more::after,
.footer-address .footer-logo::before,
.banner-slide .control-area .btn,
.main-slide .control-area .btn{
    background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png);
    background-repeat: no-repeat;
    background-size: 300px;
}

/* 숨김 텍스트 */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
/* 헤드라인타이틀 */
.headline{
    font-size: 24px;
    line-height: 1.35em;
    font-weight: 700;
}